.container-cadastrar-store {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
}

.container-cadastrar-store .content-cadastrar-store {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: calc(90dvh - 80px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    border-bottom: 2px solid var(--slateEight);
}

/* FORM */
.container-cadastrar-store .content-cadastrar-store .form {
    width: max-content;
    min-width: 50%;
    height: auto;
    min-height: calc(100dvh - 40px);
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-cadastrar-store .content-cadastrar-store .form a {
    width: 90%;
    max-width: 450px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 0px 15px 0px;
    color: var(--slateThree);
    cursor: pointer;
    transition: all .1s ease-in-out;
} .container-cadastrar-store .content-cadastrar-store .form a .icon {
    font-size: 17px;
    margin: 0px 6px 0px 0px;
} .container-cadastrar-store .content-cadastrar-store .form a:hover {
    color: var(--slateOne);
    text-decoration: underline;
}

.container-cadastrar-store .content-cadastrar-store .form h1 {
    width: 90%;
    max-width: 450px;
    font-size: 22px;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
}

.container-cadastrar-store .content-cadastrar-store .form .input {
    width: 90%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    position: relative;
}

.container-cadastrar-store .content-cadastrar-store .form .input label {
    font-size: 15px;
    font-weight: 600;
    margin: 0px 0px 4px 2px;
}

.container-cadastrar-store .content-cadastrar-store .form .input input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    padding: 0px 17.5px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid var(--slateEight);
}

.container-cadastrar-store .content-cadastrar-store .form .input .eye {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 20px;
    color: var(--slateFive);
    cursor: pointer;
}

.container-cadastrar-store .content-cadastrar-store .form .info-password {
    width: 90%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}

.container-cadastrar-store .content-cadastrar-store .form .info-password p {
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 4px 0px;
}

.container-cadastrar-store .content-cadastrar-store .form .info-password li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
    color: var(--slateFive);
}

.container-cadastrar-store .content-cadastrar-store .form .info-password li.green {
    color: var(--greenLight);
}

.container-cadastrar-store .content-cadastrar-store .form .info-password li .icon {
    font-size: 19px;
    margin: 0px 6px 0px 0px;
}

.container-cadastrar-store .content-cadastrar-store .form .info-password li p {
    margin: 0px;
    font-size: 16px;
}

.container-cadastrar-store .content-cadastrar-store .form span {
    width: 90%;
    max-width: 450px;
    font-size: 15px;
    font-weight: 600;
    margin: 7.5px 0px;
    cursor: pointer;
    color: var(--one);
    transition: all .1s ease-in-out;
} .container-cadastrar-store .content-cadastrar-store .form span:hover {
    text-decoration: underline;
}

.container-cadastrar-store .content-cadastrar-store .form button {
    width: 90%;
    max-width: 450px;
    height: 52.5px;
    border-radius: 5px;
    background: var(--one);
    color: var(--slateEleven);
    font-size: 15px;
    font-weight: 600;
    margin: 12.5px 0px;
    cursor: pointer;
    transition: all .1s ease-in-out;
} .container-cadastrar-store .content-cadastrar-store .form button:hover,
.container-cadastrar-store .content-cadastrar-store .form button:focus {
    background: rgba(var(--one-rgb), 0.8);
}

.container-cadastrar-store .content-cadastrar-store .form .or {
    width: 90%;
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px 0px;
}

.container-cadastrar-store .content-cadastrar-store .form .or div {
    width: 100%;
    height: 1px;
    background: var(--slateThree);
}

.container-cadastrar-store .content-cadastrar-store .form .or p {
    font-size: 15.25px;
    font-weight: 500;
    margin: 0px 15px;
}

.container-cadastrar-store .content-cadastrar-store .form .btn-google {
    background: var(--slateEleven);
    color: var(--slateThree);
    border: 1px solid var(--slateEight);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} .container-cadastrar-store .content-cadastrar-store .form .btn-google:hover,
.container-cadastrar-store .content-cadastrar-store .form .btn-google:focus {
    background: var(--slateFive);
    border: 1px solid var(--slateFive);
    color: var(--slateEleven);
}

.container-cadastrar-store .content-cadastrar-store .form .btn-google .icon {
    font-size: 25px;
    margin: 0px 8px 0px 0px;
}

.container-cadastrar-store .content-cadastrar-store .form .others {
    width: 90%;
    max-width: 450px;
    height: auto;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cadastrar-store .content-cadastrar-store .form .others p {
    width: max-content;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0px 0px 6px 0px;
}

.container-cadastrar-store .content-cadastrar-store .form .others a {
    width: max-content;
    font-size: 15.5px;
    font-weight: 550;
    text-align: center;
    color: var(--one);
    cursor: pointer;
}

/* TERMS */
.container-cadastrar-store .terms {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0px
}

.container-cadastrar-store .terms a {
    font-size: 15.25px;
    font-weight: 500;
    margin: 0px 12.5px;
    color: var(--two);
    cursor: pointer;
    transition: all .1s ease-in-out;
} .container-cadastrar-store .terms a:hover {
    text-decoration: underline;
}