.container-profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
    /*background: var(--slateTwo);*/
    background: var(--slateEight);
}

/* Banner */
.container-profile .banner {
    width: 100%;
    max-width: 1500px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0px 0px 12px 12px;
    overflow: hidden;
}

.container-profile .banner .images {
    width: 100%;
    height: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
    margin: 0px;
    position: relative;
    transition: transform 0.5s ease-in-out;

    scrollbar-width: none;
    -ms-overflow-style: none;  
}

/* Arrows */
.container-profile .banner .arrow {
    font-size: 25px;
    padding: 5px;
    border-radius: 50%;
    background: var(--slateEleven);
    border: 1px solid var(--slateEight);
    cursor: pointer;
    z-index: 100;
    transition: all .1s ease-in-out;
} .container-profile .banner .arrow:hover {
    background: var(--slateNine);
}

.container-profile .banner .arrow.right {
    position: absolute;
    right: 8.5px;
    top: 50%;
    transform: translateY(-50%);
} .container-profile .banner .arrow.left {
    position: absolute;
    left: 8.5px;
    top: 50%;
    transform: translateY(-50%);
}


.container-profile .banner .images .image {
    width: max-content;
    flex: 1;
    min-height: 400px;
    transition: all .1s ease-in-out;
} .container-profiles .content-profiles .search .stores .store:hover,
.container-profiles .content-profiles .search .stores .store:focus {
    background: var(--slateNine);
}


/* Content */
.container-profile .content-profile {
    width: 92.5%;
    max-width: 1200px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0px 45px 0px;
    background: var(--slateEleven);
    border-radius: 16px;
    z-index: 200;
    position: relative;
    margin: 0px 0px 40px 0px;
} .container-profile .content-profile:first-of-type,
 .container-profile .content-profile:first-child {
    padding: 0px 0px 40px 0px;
    margin: 130px 0px 40px 0px;
} .container-profile .content-profile.banner-exists {
    padding: 0px 0px 40px 0px;
    margin: -50px 0px 40px 0px;
} .container-profile .content-profile:last-of-type,
.container-profile .content-profile:last-child {
    margin-bottom: 100px;
}

/* NETWORK SOCIAL */
.container-profile .content-profile .network-social {
    width: 100%;
    height: auto;
    margin: 20px 0px 0px 0px;
    border-top: 2px solid var(--slateEight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-profile .content-profile .network-social .btns {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.container-profile .content-profile .network-social .btns button {
    width: max-content;
    height: auto;
    padding: 16.5px 25px;
    border-radius: 4px;
    margin: 0px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease-in-out;
} .container-profile .content-profile .network-social .btns button .icon {
    font-size: 20px;
    margin: 0px 6px 0px 0px;
}
.container-profile .content-profile .network-social .btns button.whatsapp {
    background: #25d366;
    color: #ece5dd;
} .container-profile .content-profile .network-social .btns button.whatsapp:hover,
  .container-profile .content-profile .network-social .btns button.whatsapp:focus {
    background: #075e54;
    color: #f1efec;
}

.container-profile .content-profile .network-social .btns button.instagram {
    background: linear-gradient(
        135deg,
        #ffc273,
        #e56969,
        #c1558b,
        #8a49a1
    );
    color: #fefefe;
} .container-profile .content-profile .network-social .btns button.instagram:hover,
  .container-profile .content-profile .network-social .btns button.instagram:focus {
    background: linear-gradient(45deg, #dd2a7b, #dd2a7b, #8a49a1, #8134af);
    color: #fefefe;
}

.container-profile .content-profile .network-social .btns button.facebook {
    background: #3b5998;
    color: #f7f7f7;
} .container-profile .content-profile .network-social .btns button.facebook:hover,
 .container-profile .content-profile .network-social .btns button.facebook:focus {
    background: #8b9dc3;
    color: #232323;
}


/* PROFILE */
.container-profile .content-profile .profile {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: -75px 0px 0px 0px;
}

.container-profile .content-profile .profile .person {
    width: max-content;
    max-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-profile .content-profile .profile .person .logo {
    width: 150px;
    height: 150px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding: 0px;
    background-color: var(--white);
    border: 1px solid var(--slateEight);
} .container-profile .content-profile .profile .person .icon.logo {
    width: 135px;
    height: 135px;
    color: var(--one);
    padding: 5px;
    margin: 0px;
} 

.container-profile .content-profile .profile button {
    margin: auto 0px 0px 0px;
}

/* Loading */
.container-profile .content-profile .profile .person .icon {
    width: 165px;
    height: 165px;
    background: var(--slateEleven);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--slateEight);
    margin: -20px 0px 20px 0px;
}

.container-profile .content-profile .profile .person .icon-loading {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    animation: loading 2.25s infinite;
    user-select: none;
}

.container-profile .content-profile .profile .person h1 {
    font-size: 22px;
    font-weight: 650;
    text-transform: uppercase;
    margin: 12px 0px 0px 0px;
    text-align: center;
}

.container-profile .content-profile .profile .person h1.loading {
    width: 175px;
    height: 15px;
    border-radius: 4px;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    animation: loading 2.25s infinite;
    user-select: none;
}

.container-profile .content-profile .text {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.container-profile .content-profile .text h1 {
    font-size: 22px;
    font-weight: 650;
    text-transform: uppercase;
    margin: 6px 0px 0px 0px;
    text-align: center;
}

.container-profile .content-profile .text button {
    margin: 0px;
}

/* Info */
.container-profile .content-profile .info {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px 0px 15px 0px;
}

.container-profile .content-profile .info .list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 23.5px;
}

.container-profile .content-profile .info .list li {
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.container-profile .content-profile .info .list li label {
    font-size: 16px;
    font-weight: 525;
    margin: 0px 0px 2px 0px;
} .container-profile .content-profile .info .list li label.loading {
    width: 125px;
    height: 15px;
    border-radius: 4px;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    animation: loading 2.25s infinite;
    margin: 0px 0px 8px 0px;
    user-select: none;
}

.container-profile .content-profile .info .list li p {
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 2px 0px;
} .container-profile .content-profile .info .list li p.loading {
    width: 225px;
    height: 15px;
    border-radius: 4px;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    animation: loading 2.25s infinite;
    user-select: none;
}

/* Cars */
.container-profile .content-profile .cars {
    width: 90%;
    height: auto;
    max-width: 1090px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 22.5px;
    margin: 0px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.container-profile .content-profile .cars p {
    font-size: 16px;
    font-weight: 400;
    margin: 6px 0px 0px 0px;
}

.container-profile .content-profile .cars .car {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    height: max-content;
    background: var(--slateEleven);
    border: 1px solid var(--slateEight);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0px;
    margin: 30px 0px 15px 0px;
    transition: all .1s ease-in-out;
}

.container-profile .content-profile .cars .car .image {
    width: 100%;
    height: max-content;
    min-height: max-content;
    margin: -10px 0px 0px 0px;
    padding: 0px;
} .container-profile .content-profile .cars .car .image.loading {
    min-height: 186px;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    animation: loading 2.25s infinite;
    user-select: none;
}

.container-profile .content-profile .cars .car h1 {
    width: 87.5%;
    font-size: 15px;
    font-weight: 550;
    text-transform: uppercase;
    margin: 14px 0px 0px 0px;
} .container-profile .content-profile .cars .car h1.loading {
    width: 87.5%;
    min-height: 20px;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    animation: loading 2.25s infinite;
    border-radius: 4px;
    user-select: none;
}

.container-profile .content-profile .cars .car p {
    width: 87.5%;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 6px 0px 0px 0px;
} .container-profile .content-profile .cars .car p.loading {
    min-height: 15px;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    animation: loading 2.25s infinite;
    border-radius: 4px;
    margin: 8px 0px 0px 0px;
    user-select: none;
}

.container-profile .content-profile .cars .car h2 {
    width: 87.5%;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
} .container-profile .content-profile .cars .car h2 strong {
    width: max-content;
    height: auto;
    font-weight: 600 !important;
} .container-profile .content-profile .cars .car h2 div.loading {
    min-width: 125px;
    height: 17.5px;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    user-select: none;
    animation: loading 2.25s infinite;
    border-radius: 4px;
    margin: 1px 0px 0px 8px;
}

.container-profile .content-profile .cars .car .between {
    width: 87.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0px 0px 0px;
}

.container-profile .content-profile .cars .car .between a {
    width: max-content;
    font-size: 15px;
    font-weight: 400;
}

.container-profile .content-profile .cars .car button {
    width: 87.5%;
    height: 43.5px;
    border-radius: 8px;
    color: var(--slateEleven);
    background: var(--one);
    border: 1px solid var(--one);
    margin: 12.5px 0px;
    cursor: pointer;
    transition: all .1s ease-in-out;
} .container-profile .content-profile .cars .car button:hover,
.container-profile .content-profile .cars .car button:focus {
    background: var(--slateEleven);
    border: 1px solid var(--one);
    color: var(--one);
}

.container-profile .content-profile .cars .car button.loading {
    height: 50px;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    user-select: none;
    animation: loading 2.25s infinite;
    border-radius: 8px;
    border: none;
    cursor: default;
}

.container-profile .content-profile .cars .car .location {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--slateThree);
    margin: 5px 0px 0px 0px;
}

.container-profile .content-profile .cars .car .location p {
    width: 87.5%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0px;
} .container-profile .content-profile .cars .car .location p .icon {
    font-size: 17px;
    margin: 0px 4px 0px 0px;
} .container-profile .content-profile .cars .car .location p .like {
    font-size: 17px;
    margin: 0px 0px 0px auto;
    cursor: pointer;
    transition: all .1s ease-in-out;
} .container-profile .content-profile .cars .car .location p .like:hover {
    color: var(--one);
}

.container-profile .content-profile .cars .car .location p div.loading {
    width: 150px;
    height: 17.5px;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    user-select: none;
    animation: loading 2.25s infinite;
    border-radius: 4px;
    margin: 1px 0px 0px 8px;
}



/* Map */
.container-profile .content-profile .map {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px 0px 15px 0px;
    border-radius: 12px;
    overflow: hidden;
} .container-profile .content-profile .map.loading {
    min-height: 275px;
    background: radial-gradient(circle at 35% 30%, var(--slateSeven), var(--slateEight), var(--slateEight) 65%);
    background-size: 200% 200%;
    animation: loading 2.25s infinite;
    user-select: none;
}

.container-profile .content-profile .map iframe {
    width: 100%;
    height: auto;
    min-height: 350px;
}

.container-profile .content-profile .map .icon-location svg {
    color: var(--one);
}